<div class="container">
  <h1>Partners for a CURE</h1>
  <p>
    <a routerLink="/contact">Contact us</a>
    to become a Partner for a Cure!
  </p>
  <p>
    The CWD Foundation is excited to announce the release of a family music CD featuring national and Philadelphia
    musicians to benefit the Children With Diabetes Foundation. Click here to read more
  </p>
  <p>Letters N Wood, LLC (THIS SHOULD BE A LINK CURRENT LINK IS NOT ACTIVE) <br>
     We specialize in personalized, engraved, wooden gifts for any occasion or just for the fun of it. 20% of your
     purchase price will be donated to CWDF!</p>
  <p>
    TAH Handcrafted Jewelry (THIS SHOULD BE A LINK) <br>
    10% of your purchase of diabetes awareness jewelry will be donated!
  </p>
  <h1>ADD AMAZON CONTENT FOR DONATIONS</h1>
</div>
