<div class="container">
  <h1>Contact Us</h1>
  <h3>We'd love to hear from you!</h3>
 <h5>
   <a href="mailto:info@CWDFoundation.org">Email Us!</a>
   <br>
   or
 </h5>
  <p>
    Contact through mail at:
    <br>
    Children With Diabetes Foundation
    685 E. Wiggins Street
    Superior, CO 80027
  </p>
  <p>For diabetes support and all other questions not related to our research, go to
    <a href="https://www.childrenwithdiabetes.com" target="_blank">Children with Diabetes</a>
  </p>
  <p>
    For problems or comments about our site
    <br>
    <a href="mailto:webmaster@CWDFoundation.org">contact our webmaster</a>
  </p>
</div>
