<!--<footer class="footer">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-5">-->
<!--<h5><i class="fa fa-road"></i> ACME CO INC.</h5>-->
<!--<div class="row">-->
<!--<div class="col-6">-->
<!--<ul class="list-unstyled">-->
<!--<li><a href="">Product</a></li>-->
<!--<li><a href="">Benefits</a></li>-->
<!--<li><a href="">Partners</a></li>-->
<!--<li><a href="">Team</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="col-6">-->
<!--<ul class="list-unstyled">-->
<!--<li><a href="">Documentation</a></li>-->
<!--<li><a href="">Support</a></li>-->
<!--<li><a href="">Legal Terms</a></li>-->
<!--<li><a href="">About</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<ul class="nav">-->
<!--<li class="nav-item"><a href="" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>-->
<!--<li class="nav-item"><a href="" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>-->
<!--<li class="nav-item"><a href="" class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>-->
<!--<li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>-->
<!--</ul>-->
<!--<br>-->
<!--</div>-->
<!--<div class="col-md-2">-->
<!--<h5 class="text-md-right">Contact Us</h5>-->
<!--<hr>-->
<!--</div>-->
<!--<div class="col-md-5">-->
<!--<form>-->
<!--<fieldset class="form-group">-->
<!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">-->
<!--</fieldset>-->
<!--<fieldset class="form-group">-->
<!--<textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>-->
<!--</fieldset>-->
<!--<fieldset class="form-group text-xs-right">-->
<!--<button type="button" class="btn btn-secondary-outline btn-lg">Send</button>-->
<!--</fieldset>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->

<footer class="footer">
  <div class="container">
    <div class="align-content-center">
      <p class="align-content-center">THIS INTERNET SITE PROVIDES INFORMATION OF A GENERAL NATURE AND IS DESIGNED FOR
                                      EDUCATIONAL PURPOSES ONLY. IF YOU HAVE ANY CONCERNS ABOUT YOUR OWN HEALTH OR THE
                                      HEALTH
                                      OF YOUR CHILD, YOU SHOULD ALWAYS CONSULT WITH A PHYSICIAN OR OTHER HEALTH CARE
                                      PROFESSIONAL.</p>
      <br>
      <p class="align-content-center">THIS SITE IS PUBLISHED BY CHILDREN WITH DIABETES RESEARCH FOUNDATION, A 501(C)3
                                      FOUNDED BY PARENTS OF CHILDREN WITH DIABETES.

      </p>
      <br>
      <span>
  <p class="pull-left CCCWDRF">© 2018 CHILDREN WITH DIABETES FOUNDATION
  </p>
    <a class="" href="http://preventt1d.org/"
       class="pull-right preventT1D">Partnered with Prevent T1D</a>
  </span>
    </div>
  </div>
</footer>
