<footer class="footer">
  <div class="container text-center">
    <p>THIS INTERNET SITE PROVIDES INFORMATION OF A GENERAL NATURE AND IS DESIGNED FOR
       EDUCATIONAL PURPOSES ONLY. IF YOU HAVE ANY CONCERNS ABOUT YOUR OWN HEALTH OR THE
       HEALTH OF YOUR CHILD, YOU SHOULD ALWAYS CONSULT WITH A PHYSICIAN OR OTHER HEALTH CARE
       PROFESSIONAL.
    </p>
    <p>
      THIS SITE IS PUBLISHED BY CHILDREN WITH DIABETES RESEARCH FOUNDATION, A 501(C)3.
    </p>
    <br>
    <p class="pull-left CCCWDRF">© 2018 CHILDREN WITH DIABETES FOUNDATION
    </p>
    <p>
      <a href="http://preventt1d.org/" class="pull-lg-right pull-left-md preventT1D">Partnered with Prevent T1D <br>
                                                                                     click here to find out more</a>
    </p>
  </div>
</footer>
