<div class="container">
  <h1>Make a Donation</h1>
  <p>The CWD Foundation is asking for your help. We have some excellent research grant opportunities we would like to
     fund, and with your help, we can support all of these efforts. Every donation is important, regardless of the
     amount. Our foundation also accepts donations of securities.
    <br>
     To make a payment online using your credit card, click here
    <br>
  </p>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input name="cmd" type="hidden"
                                                                                          value="_s-xclick"/> <input
    name="hosted_button_id" type="hidden" value="TKB9H8QTL8CAG"/> <input
    alt="PayPal - The safer, easier way to pay online!" border="0" name="submit"
    src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" type="image"/>
    <img alt="" border="0" height="1"
         src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
         width="1"/>
  </form>
  <p>
    Please send tax-deductible contributions to:
    <br>
    Children With Diabetes Foundation
    685 E. Wiggins Street
    Superior, CO 80027
  </p>
  <p>You can now designate the Children With Diabetes Foundation when you donate to United Way. It's easy! Just let them
     know you want to designate that your funds go toward helping families with diabetes by providing our United Way
     Agency Number.
    <br>
     Children With Diabetes Foundation
     Agency # 065664
  </p>
  <p>
     Thank you for helping the Children With Diabetes Foundation!
  </p>
</div>
