<div class="container">
  <h1>Research Focus</h1>
  <p>In order to be considered for funding by the CWD Foundation, research must lead to a cure or prevention of type 1
     diabetes. To be defined as a cure we expect the ultimate cure to meet 3 criteria.
  </p>
  <ul>
    <li>
      Efficacious
    </li>
    <li>
      Safe for all
    </li>
    <li>
      Affordable to the general population
    </li>
  </ul>
  <p>
    Examples include:
  </p>
  <b>CURE</b>
  <ul>
    <li>
      Encapsulated Porcine Islet Cell Transplantation
    </li>
    <li>
      Autologous stem cell transplantation
    </li>
    <li>
      Cord blood research
    </li>
    <li>
      Short term immunosuppression
    </li>
  </ul>
  <b>PREVENTION</b>
  <ul>
    <li>
      Nutritional intervention to prevent type 1 diabetes and other clinical trials that may prove to be effective.
    </li>
    <li>
      We are partnered with a great resource for what people are trying
      <a href="http://preventt1d.org/" target="_blank">Prevent T1D</a>
    </li>
  </ul>

</div>
